@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

/***************************************** GENERAL***/

* {
    margin:0;
    border:0;
    padding:0;
}


body {
    font-family: 'Shadows Into Light Two', cursive;
    color:#fafafa;
}

.heading-center {
    text-align:center;
}

/***************************************** NAV***/

.navi {
    display:inline;
    float:right;
}

.navi li {
    padding-right:4px;
}

.navi li:hover {
    color:#5555
}

.logo {
    padding:10px 10px;
    background-color:#a5c0d9;
    height:75px;
    width:100%;
}

.logo a {
    text-decoration:none;
    color:inherit;
    font-size:30px;
    padding-left:10px;

}


/***************************************** COVER***/

.cover-bg {
    background:url("/images/how-to-order-french-bakery-5.jpg") no-repeat center center;
    height:500px;
    width:100%;
    position:relative;

}

#cover-text {
    max-height:250px;
    width:33%;
    overflow:hidden;
    position:absolute;
    top:80px;
    left:33%;
    
    background-color:rgba(274, 171, 171, 0.9);
    color:#fafafa;
    
}

#cover-text h1,p  {
    text-align:center;
    padding:5px;
}

#cover-text h1 {
    font-weight:200;
    font-size:50px;
    letter-spacing:1px;
    padding:10px 0;
}

#cover-text p {
    font-weight:100;
    font-size:25px;
    padding-top:10px;
}

/***************************************** INF0***/

.info-sec {
    min-height:400px;
    width:100%;
    background-color:#a5c0d9;
    margin-top:2px;
}



.about {
    text-align:center;
    padding:50px 0 40px;
    letter-spacing:1px;
    font-weight:500;
    font-weight:1000;
    
}

.about h1 {
    font-weight:500;
}

.row h2 {
    padding-bottom:5px;
    text-align:center;

}

.row p {
    font-size:20px;
}

/***************************************** FOOTER***/

footer {
    height:300px;
    width:100%;
    margin-top:2px;
    

}

.footer-bg-color {
    background-color:#a5c0d9;
    height:250px;
    
}

.list-inline li a {
    color:#fafafa;
    font-size:20px;
}

.social-links {
    display:inline-block;
    margin:0 auto;
    list-style-type: none;
}

/***************************************** CHEF PROFILE***/

.chef-profile {
    min-height:800px;
    background-color:rgba(274, 171, 171, 0.5);
    margin-top:2px;
}

#chef-1 {
    background:url("/images/french-baker-and-pastry-chef-gontran-cherrier-in-his-bakery-in-rue-H60M5K.jpg") no-repeat center center;
    height:400px;
    width:100%;
}

#chef-2 {
    background:url("/images/2098765.jpg") no-repeat center center;
    height:400px;
    width:100%;
}

#chef-profile p {
    font-weight:500;
}

/***************************************** FORM***/



.form-bg-color {
    height:400px;
    width:30%;
    background-color:rgba(226, 217, 217, 0.9);
    position:absolute;
    top:40px;
    left:35%;
    color:#fafafa;
}

.form-bg-color h3 {
    text-align:center;
    padding:10px 5px 20px 5px;
}

input [type="text"] {
    height:550px;
}

.form label {
    display:inline-block;
    padding-left:5px;
    font-size:20px;
}

.text-input {
    width:90%;
    height:20px;
    padding:10px 5px;
    margin:10px 5px;
}

.submit {
    color:#fafafa;
    background-color:red;
    height:50px;
    width:50px;
    border-radius:50%;
    margin-left:5px;
    
}