@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');


* {
    margin:0;
    border:0;
    padding:0;
}


body {
    font-family: 'Shadows Into Light Two', cursive;
    color:#fafafa;
}

/***************************************** NAV***/

.navi {
    display:inline;
    float:right;
}

.navi li {
    padding-right:4px;
}

.navi li:hover {
    color:#5555
}

.logo {
    padding:10px 10px;
    background-color:#a5c0d9;
    height:75px;
    width:100%;
}

.logo a {
    text-decoration:none;
    color:inherit;
    font-size:30px;
    padding-left:10px;

}


/***************************************** COVER***/

.cover-bg {
    background:url("/images/how-to-order-french-bakery-5.jpg") no-repeat center center;
    height:500px;
    width:100%;
    position:relative;

}

#cover-text {
    max-height:250px;
    width:33%;
    overflow:hidden;
    position:absolute;
    top:80px;
    left:33%;
    
    background-color:rgba(274, 171, 171, 0.9);
    color:#fafafa;
    
}

#cover-text h1,p  {
    text-align:center;
    padding:5px;
}

#cover-text h1 {
    font-weight:200;
    font-size:50px;
    letter-spacing:1px;
    padding:10px 0;
}

#cover-text p {
    font-weight:100;
    font-size:25px;
    padding-top:10px;
}

/***************************************** INF0***/

.info-sec {
    min-height:400px;
    width:100%;
    background-color:#a5c0d9;
    margin-top:2px;
}



.about {
    text-align:center;
    padding:20px 0 10px;
    letter-spacing:1px;
    font-weight:500;
}

.about h1 {
    font-weight:500;
}

.row h2 {
    padding-bottom:5px;
    text-align:center;

}

.row p {
    font-size:20px;
}

/***************************************** FOOTER***/

footer {
    height:100px;
    width:100%;
    margin-top:2px;
    

}

.footer-bg-color {
    background-color:rgba(274, 171, 171, 0.5);
    
}

.list-inline li a {
    color:#fafafa;
    font-size:20px;
}

.social-links {
    display:inline-block;
    margin:0 auto;
    list-style-type: none;
}